extends ./main.jade

block head
	link(rel="stylesheet", href="css/me.css")

	script(type="application/ld+json").
		{
			"@context": "http://schema.org",
			"@type": "Person",
			"name": "Lieuwe Rooijakkers",
			"address": {
				"@type": "PostalAddress",
				"postalCode": "2241",
				"addressLocality": "Wassenaar",
				"addressCountry": "NL"
			},
			"email": "mailto:lieuwerooijakkers@gmail.com",
			"image": "https://www.gravatar.com/avatar/763664ead00ca1ed8e12db1d5ad703c5?s=175&d=identicon&r=PG",
			"jobTitle": "Student",
			"url": "http://www.lieuwex.me/",
			"worksFor": {
				"@type": "Organization",
				"name": "simplyApps",
				"url": "http://www.simplyApps.nl/"
			}
		}

block title
	title= "Lieuwe Rooijakkers | About me"

block content
	- var age = ~~((new Date().getTime() - new Date(1998, 8, 18).getTime()) / 31556952000);
	img(src="https://www.gravatar.com/avatar/763664ead00ca1ed8e12db1d5ad703c5?s=175&d=identicon&r=PG", id="profilePicture")
	div.me
		|	I'm Lieuwe Rooijakkers, a guy from <b>Wassenaar, The Netherlands</b>, <b>#{age} years</b> old.<br>
		|	I'm developer at <a href="http://simplyapps.nl/">simplyApps</a>.<br><br>
		|	I have experience with front- and back-end development using C#, Coffeescript, Javascript, Golang, Python and platforms such as MongoDB and Meteor.<br>
		|	When bored I also fiddle around with various stuff ranging from computer vision to Android app development. (While not being seriously good at those).<br><br>
		|	It looks like I'm 

		if nowPlaying
			| currently listening to <b>#{nowPlaying.name}</b> by <b>#{nowPlaying.artist["#text"]}</b>, I tend to listen to music a lot, so that's not too suprsising.
		else
			| not listening to anything at the moment.

		if githubDate
			<br><br>
			| My last <i>public</i> activity on GitHub was on <b>#{githubDate}</b>.
		if lastGame
			<br><br>
			| My last ranked game on League of Legends was with <b>#{lastGame.champName}</b>, details of the match can be found <a href="#{lastGame.url}">here</a>.
