extends ./main.jade

block head
	link(rel="stylesheet", href="css/me.css")

	script(type="application/ld+json").
		{
			"@context": "http://schema.org",
			"@type": "Person",
			"name": "Lieuwe Rooijakkers",
			"address": {
				"@type": "PostalAddress",
				"postalCode": "2241",
				"addressLocality": "Wassenaar",
				"addressCountry": "NL"
			},
			"email": "mailto:lieuwerooijakkers@gmail.com",
			"image": "https://www.gravatar.com/avatar/763664ead00ca1ed8e12db1d5ad703c5?s=175&d=identicon&r=PG",
			"jobTitle": "Student",
			"url": "http://www.lieuwe.xyz/",
			"worksFor": {
				"@type": "Organization",
				"name": "simplyApps",
				"url": "http://www.simplyApps.nl/"
			}
		}

block title
	title= "Lieuwe Rooijakkers | About me"

block pageHeader
	| About me

block content
	- var age = ~~((new Date().getTime() - new Date(1998, 8, 18).getTime()) / 31556952000);
	img(src="https://www.gravatar.com/avatar/763664ead00ca1ed8e12db1d5ad703c5?s=175&d=identicon&r=PG", id="profilePicture")
	div.me(itemscope itemtype="http://data-vocabulary.org/Person")
		|	I'm <span itemprop="name">Lieuwe Rooijakkers</span>, a guy from <b itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span itemprop="locality">Wassenaar</span>, <span itemprop="country-name">The Netherlands</span></b>, <b>#{age} years</b> old.<br>
		|	I'm developer at <a href="http://simplyapps.nl/" itemprop="affiliation">simplyApps</a>.<br><br>
		|	I have experience with front- and back-end development using C#, Coffeescript, Javascript, Golang, Python and platforms such as MongoDB and Meteor.<br>
		|	When bored I also fiddle around with various stuff ranging from computer vision to Android app development. (While not being seriously good at those).<br><br>
		|	It looks like I'm 

		if nowPlaying
			| currently listening to <b>#{nowPlaying.name}</b> by <b>#{nowPlaying.artist["#text"]}</b>, I tend to listen to music a lot, so that's not too surprising.
		else
			| not listening to anything at the moment.

		if githubDate
			<br><br>
			| My last <i>public</i> activity on GitHub was on <b>#{githubDate}</b>.

		if bestwpm && averagewpm
			<br><br>
			| My average WPM of my last 10 races on <a href="http://play.typeracer.com/">TypeRacer</a> is #{averagewpm}, while my best is <b>#{bestwpm}</b>.

		if keys && clicks
			<br><br>
			| I currently have pressed <b>#{keys}</b> keys and clicked <b>#{clicks}</b> times. More details <a href="http://whatpulse.org/lieuwex/computer/Beneden">here</a>.
